@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Pacifico&family=Playwrite+AR:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #610332;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend;
}

.static{
    /* border: 2px solid red; */
    margin-top: 20px;
    width: 92vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4%;
    background-color: #7c013e;
}

h1{
    font-size: 3.5rem;
    color: #44CF6C;
}

.inputs{
    /* border: 2px solid green; */
    width: 85%;
    height: 20%;
}

.inputs form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1%;
}

.inputs input{
    width: 18%;
    height: 75%;
    padding-left: 12px;
    border-radius: 4px;
    border: none;
    background-color: #DABECA;
    outline: none;
    color: #610332;
}

.inputs input:focus{
    border: 2px solid #610332
}

.inputs button{
    height: 31px;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #37e93d;
    border: none;
    cursor: pointer;
    color: #610332;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 4px 14px #09eb10;
}

.inputs button:hover{
    transform: translateY(-2px);
    box-shadow: 0px 6px 20px #09eb10;
    transition: all 0.3s ease;
}

.search{
    width: 30%;
    height: 29px;
    padding-left: 12px;
    border: none;
    border-radius: 4px;
    background-color: #DABECA;
}

hr{
    width: 88%;
    background-color: #44CF6C;
    height: 3px;
    border: none;
}

.dynamic{
    /* border: 2px solid blue; */
    width: 92vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4%;
    background-color: #941354;
}

.board {
    width: 95.9%;
    overflow-x: auto;
    margin-top: 10px;
}

table {
    /* border: 2px solid red; */
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #6e073a;
    color: #03d73f;
}

.details{
    font-size: 19px;
}

th, td {
    padding: 1%;
    text-align: left;
    border: 1px solid #A9FDAC;
}

tbody tr {
    background-color: #89154f;
    color: #44CF6C;
    font-size: 17px;
}

tbody .btns{
    display: flex;
    justify-content: space-evenly;
}

tbody .btns button{
    padding: 9px 11px;
    font-size: 17px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.minus-5{
    background-color: red;
    color: white;
}

.add-5{
    background-color: #44CF6C;
}

.trash{
    background-color: black;
}
