*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7%;
    background-color: rgb(17, 17, 105);
    font-family:Arial, Helvetica, sans-serif
}

p{ 
    width: 180px;
    height: 50px;
    background-color: peachpuff;
    text-align: center;
    font-size: 40px;
    color: rgb(94, 12, 171);
    border-radius: 40px;
}

button{
    width: 50px;
    height: 40px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
}

.inc{
    background-color: rgb(142, 234, 142);
}

.dec{
    background-color: rgb(241, 82, 82);
}

@media (max-width: 1080px) and (max-height: 2460px)
{
    div{
        flex-direction: column;
        row-gap: 15%;
        
    }
    
    p{
        width: 50%;
        height: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 350px;
    }

    button{
        width: 35%;
        height: 8%;
        font-size: 120px;
        border-radius: 50px;
    }
}
